{
    "root": true,
    "extends": [
        "@nuxt/eslint-config"
    ],
    "rules": {
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": [
            "warn",
            {
                "vars": "all",
                "args": "none"
            }
        ],
        "indent": [
            "warn",
            4
        ],
        "quotes": [
            "warn",
            "single"
        ],
        "semi": [
            "warn",
            "never"
        ],
        "vue/html-indent": [
            "warn",
            4
        ]
    }
}
